# 必填
DEEPSEEK_API_KEY=

# 模型配置
DEEPSEEK_MODEL=deepseek-v4-flash
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_THINKING_TYPE=enabled
DEEPSEEK_REASONING_EFFORT=medium
DEEPSEEK_STREAM=true
AMADEUS_MAX_TURNS=8

# Skill 路径
SKILL_AGENT_MD_REL=./skills/agent.md
SKILL_ROOT_REL=./skills

# Agent Server
AGENT_SERVER_ADDR=:9000
AGENT_SERVER_URL=http://localhost:9000

# NapCat
NAPCAT_API_URL=http://127.0.0.1:3000
NAPCAT_TOKEN=2A1NhvoxT6a1.Hk9
QQ_BOT_ID=
